
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body class="text-center">
    <form action="/signin" method="post">
     
      <label>Email address</label>
      <input name="name" class="form-control" placeholder="name" required autofocus>

      <label>Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      
      <button type="submit">Sign in</button>

      <p class="mt-5 mb-3 text-muted"> &copy; 2018-2019</p>
    </form>
  </body>
</html>
